<template>
  <div v-if="doc && proveedor" :id="id" class="q-pa-md row q-gutter-md justify-center">
    <q-card flat style="width: 800px" bordered class="my-card">
      <q-card-section class="content-center">
        <div class="content-center text-h6">Sistema de Control de Retenciones de I.I.B.B</div>
        <div class="text-subtitle1">Fecha: {{ doc.fecha }}</div>
      </q-card-section>
      <q-card-section>
        <div class="text-subtitle1">A. - Datos del agente de retencion</div>
        <div class="text-subtitle2">Certificado Nro.: {{ doc.numero }}</div>
        <div class="text-subtitle2">Apellido y Nombre o Denominación: Le petit trianon S.A.</div>
        <div class="text-subtitle2">C.U.I.T. Nro : 30-71109478-0</div>
        <div class="text-subtitle2">Domicilio: Martin Miguel de Güemes 2850 Localidad: MAR DEL PLATA C.P.:7600</div>
      </q-card-section>
      <q-card-section>
        <div class="text-subtitle1">B. - Datos del Sujeto Retenido</div>
        <div class="text-subtitle2">Apellido y Nombre o Denominación: {{ proveedor.nombre }}</div>
        <div class="text-subtitle2">C.U.I.T.Nro.: {{ proveedor.cuit }}</div>
      </q-card-section>
      <q-card-section>
        <div class="text-subtitle1">C.- Datos de la Retención Practicada</div>
        <div class="text-subtitle2">Impuesto: Ingreso a los Ingresos Brutos</div>
        <div class="text-subtitle2">Regimen: Retención IIBB </div>
        <div class="text-subtitle2">Comprobante que Origina la Retención: Recibo Nro.{{ doc.numero }}</div>
        <div class="text-subtitle2">Monto del Comprobante que Origina la Retención: {{ doc.total }}</div>
        <div class="text-subtitle2">Monto de la Retención: {{ doc.retencion }}</div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>

import { getDoc } from 'src/services/doc'
import { onMounted, ref } from '@vue/composition-api'
import { getProveedores } from 'src/services/proveedor'
import dayjs from 'src/dayjs'

export default {
  setup (_, { root }) {
    const doc = ref()
    const proveedor = ref()
    const id = ref('xxx')
    onMounted(async () => {
      const _id = root.$route.params.id
      doc.value = await getDoc(_id)
      const proveedores = await getProveedores()
      proveedor.value = proveedores.find(p => p.id === doc.value.proveedor_id)
      doc.value.fecha = dayjs(doc.value.fecha).format('dddd, MMMM D YYYY')
      var formatter = new Intl.NumberFormat('es-AR', {
        style: 'currency',
        currency: 'ARS'
      })

      doc.value.total = formatter.format(doc.value.total) /* $2,500.00 */
      doc.value.retencion = formatter.format(doc.value.retencion) /* $2,500.00 */
      console.log('ok')
      setTimeout(() => {
        id.value = 'loaded'
      }, 500)
    })
    return { doc, proveedor, id }
  }
}
</script>

<style>

</style>
