<template>
  <q-page id="loaded" padding class="q-pa-md row justify-center">
    <q-card class="my-card self-start" style="width:600px;max-width:600px">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Comprobante Orden de Pago</div>
        <div class="text-subtitle2">{{ proveedor.nombre }}</div>
      </q-card-section>
      <q-separator />
      <q-form v-if="doc" ref="form" class="q-pa-md q-gutter-md" @submit="onSubmit" @reset="onReset">
        <div class="row">
          <!-- <q-input ref="numero" v-model="doc.numero" filled autofocus -->
          <!-- class="col" -->
          <!-- label="Número de comprobante *" lazy-rules :rules="[ ()=>ruleRequired(doc.numero, 'Número de comprobante') ]" /> -->
          <div class="col-1" style="width: 4px" />
          <!-- <q-input v-model="doc.fecha" class="col" filled hint="Fecha de la OP" :rules="[ruleFecha]">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="doc.fecha" mask="DD/MM/YYYY" @input="() => $refs.qDateProxy.hide()" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input> -->
        </div>
        <div class="row">
          <q-select ref="proveedor" v-model="doc.proveedor_id" filled :options="proveedores"
                    label="Proveedor  *"
                    emit-value map-options lazy-rules :rules="[()=>ruleRequired(doc.proveedor_id, 'Proveedor')] "
                    class="col" @input="proveedorChange" @blur="$refs.total.select()">
            <q-inner-loading size="xl" :showing="($refs.proveedor && $refs.proveedor.validating)">
              <q-spinner size="42px" />
            </q-inner-loading>
          </q-select>
          <div class="col-1" style="width: 4px" />
          <q-input v-model="alicuota" class="col" filled type="float"
                   lazy-rules
                   :rules="[()=>ruleMayor(alicuota, 'Alicuota', 0)]" label="Alícuota  *" />
        </div>
        <div class="row">
          <q-input ref="total" v-model="doc.total" class="col" filled
                   type="float"
                   lazy-rules :rules="[()=>ruleMayor(doc.total, 'Total')]" label="Total  *" />
          <div class="col-1" style="width: 4px" />
          <q-input readonly="" :value="doc.retencion" class="col" filled
                   type="number"
                   lazy-rules :rules="[()=>ruleRequired(doc.retencion, 'Retención')]" label="Retención" />
        </div>
        <div class="row justify-end">
          <q-btn label="Grabar" type="submit" color="primary" :disable="!canSubmit()" />
          <q-btn label="Cancelar" type="reset" color="primary" flat
                 class="q-ml-sm"
                 @click="$emit('cancel')" />
        </div>
      </q-form>
    </q-card>
  </q-page>
</template>

<script>
/* eslint-disable camelcase */

// eslint-disable-next-line no-unused-vars
import Vue from 'vue'
import { ref, onMounted, watch } from '@vue/composition-api'
import { createDoc, getDoc } from '../services/doc'
import pdf from '../services/pdf'
import { getProveedores } from '../services/proveedor'
import { notify } from '../helpers'
import dayjs from '../dayjs'
// import store from '../store'

// import useValidation from '../services/validation'

export default {
  components: {},
  setup (_, { root, refs }) {
    const tipo = ref()
    const id = ref()
    const doc = ref()
    const alicuota = ref(0)
    const proveedor = ref({})
    const proveedores = ref({})
    const onSubmit = async () => {
      console.log('onSubmit')
      console.log('detalle', refs.form)

      refs.form.validate().then(async success => {
        if (success) {
          try {
            const resp = await createDoc(doc.value)
            console.log('resp', resp)
            const data = resp.data
            if (resp.status === 201) {
              const nuevo = data.insertId > 0
              if (nuevo) {
                notify({
                  message: `Se agregó un documento, generando impresión, un momento...`,
                  timeout: 5000
                })
                const id = data.insertId
                id && (await pdf(`/print/doc/${id}`, true))
              } else {
                notify({
                  message: `Se modificó un documento, generando impresión, un momento...`,
                  timeout: 5000
                })
                id && (await pdf(`/print/doc/${doc.value.id}`, true))
                const changedRows = data.changedRows
                notify({
                  message: `Se modificaron ${changedRows} registros`,
                  timeout: 3000
                })
              }
              doc.value = emptyDoc()
              refs.numero.focus()
              refs.form.resetValidation()
            } else {
              notify({
                message: `Hubo algún problema grabando: ${data}`,
                timeout: 3000
              })
              root.$children[0].$children[0].$refs.ajaxbar.stop()
            }
          } catch (error) {
            root.$children[0].$children[0].$refs.ajaxbar && root.$children[0].$children[0].$refs.ajaxbar.stop()
            console.log('error', error)
            notify({
              message: `Hubo algún problema grabando: ${error}`,
              timeout: 3000
            })
          }
        }
      })
    }
    const onReset = () => {
      console.log('onReset')
      requestAnimationFrame(() => {
        doc.value = emptyDoc()
        refs.numero.focus()
      })
    }
    const proveedorChange = _proveedor => {
      if (!_proveedor) return
      console.log('change', _proveedor, proveedores.value)
      const p = proveedores.value.find(_p => _proveedor === _p.value)
      alicuota.value = p.alicuota || 0
    }
    const ruleRequired = (val, field) => {
      return val ? true : `${field} no puede estar vacio`
    }
    const ruleMayor = (val, field, min = 0) => {
      return val && val > min ? true : `${field} debe ser mayor a ${min}`
    }
    const ruleFecha = val => {
      if (!val) return 'No puede ser vacia'
      const mayor = dayjs(val, 'DD/MM/YYYY').isAfter(dayjs())
      return !mayor ? true : `No puede ser una fecha a futuro`
    }
    const emptyDoc = () => {
      const fecha = dayjs(new Date()).format('DD/MM/YYYY')
      alicuota.value = 0
      return { retencion: 0, total: 0, fecha }
    }
    onMounted(async () => {
      // setTimeout(() => { console.clear() }, 500)
      tipo.value = root.$route.params.tipo
      id.value = root.$route.params.id
      const _proveedores = (await getProveedores()) || {}
      proveedores.value = _proveedores.map(p => {
        return {
          value: p.id,
          label: p.nombre,
          cuit: p.cuit,
          alicuota: p.retencion,
          nombre: p.nombre
        }
      })
      // const fecha = new Intl.DateTimeFormat('es-AR').format(new Date())
      const _doc = await getDoc(id.value)
      console.log('_doc', _doc)
      if (!_doc) {
        doc.value = emptyDoc()
      } else {
        proveedorChange(_doc.proveedor_id)
        const fecha = dayjs(_doc.fecha).format('DD/MM/YYYY')
        doc.value = Object.assign(_doc, { fecha })
      }
    })
    const canSubmit = () => {
      return doc.value.total && doc.value.proveedor_id
    }
    watch(
      alicuota,
      v => {
        doc.value.retencion = (
          (Number(alicuota.value) * Number(doc.value.total)) /
          100
        ).toFixed(2)
      },
      { lazy: true }
    )
    watch(
      () => doc.value && doc.value.total,
      v => {
        doc.value.retencion = (
          (Number(alicuota.value) * Number(v)) /
          100
        ).toFixed(2)
      },
      { lazy: true }
    )
    return {
      tipo,
      doc,
      onSubmit,
      onReset,
      proveedores,
      alicuota,
      proveedor,
      ruleRequired,
      ruleMayor,
      ruleFecha,
      proveedorChange,
      canSubmit
    }
  }
}
</script>

<style>
</style>
