<template>
  <q-dialog v-if="proveedor" v-model="dialog">
    <q-card class="my-card" style="width:600px;max-width:600px">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Formulario Proveedor</div>
        <div class="text-subtitle2">{{ proveedor.nombre }}</div>
      </q-card-section>
      <q-separator />
      <proveedor-form :proveedor="proveedor" @close="(p)=>$emit('close',p)" @cancel="$emit('cancel')" @eliminar="(p) => $emit('eliminar', p)" />
    </q-card>
  </q-dialog>
</template>
<script>
import ProveedorForm from './ProveedorForm'
import { ref, watch } from '@vue/composition-api'

export default {
  components: { ProveedorForm },
  props: {
    proveedor: {
      type: Object
    }
  },
  setup (props, { root }) {
    const dialog = ref(false)
    watch(() => props.proveedor, (v) => {
      dialog.value = Boolean(v)
    })
    return { dialog }
  }
}
</script>
