<template>
  <div class="q-pa-md">
    <q-form v-show="proveedorClone"
            class="q-gutter-md"
            @submit="onSubmit"
    >
      <q-input
        v-model="proveedorClone.nombre"
        filled
        label="Nombre *"
        hint="Nombre o nombre de fantasía"
        lazy-rules
        autofocus
        :rules="[ val => val && val.length > 0 || 'No puede ser vacio']"
      />
      <q-input
        v-model="proveedorClone.cuit"
        filled
        label="Cuit *"
        :hint="validations.cuit.hint"
        :error="validations.cuit.error"
        :error-message="validations.cuit.errorMsg"
        @blur="validateCuit($event.target.value)">
        <q-inner-loading :showing="validations.cuit.validating">
          <q-spinner size="42px" />
        </q-inner-loading>
      </q-input>
      <q-input
        v-model="proveedorClone.retencion"
        filled
        label="Retencion"
      />
      <div class="row justify-end">
        <!-- <div class="checkeando self-stretch">Chequeando CUIT con ARBA
          <q-inner-loading :showing="true">
            <q-spinner />
          </q-inner-loading>
        </div> -->
        <q-btn label="Eliminar" color="red" @click="eliminar" />
        <q-btn label="Grabar" type="submit" color="primary" class="q-ml-sm" :disable="validations.error || validations.validating" />
        <q-btn label="Cancelar" type="cancel" color="primary" flat
               class="q-ml-sm" @click="$emit('cancel')" />
      </div>
    </q-form>
  </div>
</template>
<script>
import { notify } from '../helpers'
import { ref, watch, reactive, onMounted } from '@vue/composition-api'
import { getRetencion, getProveedor } from '../services/proveedor'
import useValidation from '../services/validationx'
export default {
  props: {
    proveedor: {
      type: Object,
      default: () => { return {} }
    }
  },
  setup (props, { root, emit }) {
    const proveedorClone = ref({})
    const validations = reactive({
      validating: false,
      error: false,
      cuit: {
        hint: 'CUIT, cuando sea modificado lo chequeo con ARBA',
        error: false,
        errorMsg: ''
      }
    })
    const validation = useValidation(validations)
    const onSubmit = async () => {
      if (!proveedorClone.value.cuit) {
        validations.cuit.errorMsg = 'No puede ser vacio'
        validations.cuit.error = true
        validations.error = true
        return
      }
      emit('close', proveedorClone.value)
    }
    const eliminar = async () => {
      emit('eliminar', proveedorClone.value)
    }
    const validateCuit = async (val) => {
      if (!val) {
        validations.cuit.errorMsg = 'No puede ser vacio'
        validations.cuit.error = true
        validations.error = true
        return
      }
      const hintAnt = validations.cuit.hint
      validation.clean()
      validations.validating = true
      validations.cuit.hint = 'Verificando con ARBA'
      validations.cuit.validating = true
      const retencion = await getRetencion(proveedorClone.value)
      validations.cuit.validating = false
      if (retencion.error) {
        validations.cuit.errorMsg = retencion.error
        validations.cuit.error = true
        validations.error = true
      } else {
        if (proveedorClone.value.retencion !== retencion.retencion) {
          proveedorClone.value.retencion = retencion.retencion
          notify({ message: 'Alícuota Actualizada desde ARBA' })
        }
      }
      validations.cuit.hint = hintAnt
      validations.validating = false
    }
    onMounted(async () => {
      if (!root.$route.params.id) return
      const proveedor = await getProveedor(root.$route.params.id)
      proveedorClone.value = Object.assign({}, proveedor)
    })
    watch(() => props.proveedor, (v) => {
      if (!v) return
      proveedorClone.value = Object.assign({}, v)
      if (v) {
        validateCuit(v.cuit)
      }
    })
    return { proveedorClone, onSubmit, validateCuit, validations, eliminar }
  }
}
</script>
<style lang="stylus">
.checkeando
  margin-right auto
  align-self center
</style>
