<template>
  <div class="q-pa-md">
    <proveedor-dialog :proveedor="proveedorActivo"
                      @close="dialogClose" @cancel="dialogCancel" @eliminar="eliminar" />
    <q-card class="my-card">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Administración de Proveedores<q-spinner v-if="actualizando" class="q-ml-sm" size="1.5em" /></div>

      </q-card-section>
      <q-separator />
      <!-- <pre>{{ retenciones }}</pre> -->
      <q-separator />
      <q-card-actions align="right">
        <q-btn flat color="primary" icon="check" label="Actualizar alícuotas" @click="actualizarAlicuotas" />
      </q-card-actions>
      <q-markup-table flat :bordered="false">
        <thead>
          <tr>
            <th class="text-left">Nombre</th>
            <th class="text-left">CUIT</th>
            <th class="text-right">Retención</th>
            <th class="text-right">Retención fecha</th>
            <th class="text-left">Retención detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="p in proveedores" :key="p.id" @click="proveedorActivo = p">
            <td class="text-left">{{ p.nombre }}</td>
            <td class="text-left">{{ p.cuit }}</td>
            <td class="text-right">{{ p.retencion }}</td>
            <td class="text-right">{{ p.retencion_fecha }}</td>
            <td class="text-left">{{ p.retencion_detalle }}</td>
          </tr>
        </tbody>
      </q-markup-table>
    </q-card>
    <q-page-sticky position="top-right" :offset="[0, 0]">
      <q-btn fab icon="add" color="red-6" text-color="white" @click="proveedorNuevo" />
    </q-page-sticky>
  </div>
</template>
<script>
import { ref } from '@vue/composition-api'
// import store from 'src/store'
import { getProveedores, saveProveedor, deleteProveedor } from '../services/proveedor'
import { onLoggedIn } from '../helpers'
import { getRetencionesDelIAE, setRetenciones } from '../services/retencion'
import ProveedorDialog from '../pages/ProveedorDialog'
// import Vue from 'vue'
export default {
  components: { ProveedorDialog },
  setup (props, { root }) {
    const actualizando = ref(false)
    const proveedores = ref()
    const retenciones = ref()
    const proveedorActivo = ref()
    const dialogCancel = () => {
      if (proveedorActivo.value.id === -1) {
        proveedores.value.pop()
      }
      proveedorActivo.value = undefined
    }
    const eliminar = async (proveedor) => {
      try {
        const resp = await deleteProveedor(proveedor.id)
        console.log('eliminar resp', resp)
        const p = proveedores.value.findIndex((_p) => _p.id === proveedor.id)
        proveedores.value.splice(p, 1)
      } catch (error) {
      }
      proveedorActivo.value = undefined
    }
    const dialogClose = async (proveedor) => {
      try {
        const resp = await saveProveedor(proveedor)
        const { data } = resp
        root.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Grabado',
          timeout: 1000
        })
        const p = proveedores.value.find((_p) => _p.id === proveedor.id)
        if (data.insertId) proveedor.id = data.insertId
        Object.assign(p, proveedor)
        proveedorActivo.value = undefined
      } catch (error) {}
    }
    const proveedorNuevo = () => {
      const nuevo = { id: -1, nombre: 'Proveedor Nuevo' }
      proveedores.value.push(nuevo)
      proveedorActivo.value = nuevo
    }
    onLoggedIn().then(async () => {
      try {
        proveedores.value = await getProveedores()
      } catch (error) {
        console.error('proveedorAdmin getProveedores', error.message)
      }
    })
    const date = new Date()
    const actualizarAlicuotas = async () => {
      actualizando.value = true
      try {
        retenciones.value = await getRetencionesDelIAE(proveedores.value)
        await setRetenciones(retenciones.value)
        retenciones.value.forEach(r => {
        // console.log('retencion', JSON.stringify(r))
          const id = proveedores.value.find(p => p.id === r.id)
          const retencion = r.retencion.retencion ? r.retencion.retencion : '0.00'
          id.retencion = retencion
          id.retencion_detalle = r.retencion.error
          id.retencion_fecha = ''.concat(date.getDate(), '/', date.getMonth(), '/', date.getFullYear())
        })
      } catch (error) {
        console.log('proveedorAdmin error', error)
      }
      actualizando.value = false
    }
    return {
      proveedores,
      proveedorNuevo,
      retenciones,
      actualizarAlicuotas,
      proveedorActivo,
      dialogClose,
      actualizando,
      dialogCancel,
      eliminar
    }
  }

}
</script>
<style lang="stylus" scoped>
</style>
