<template>
  <q-page padding>
    <div class="" style="">
      <div class="row q-col-gutter-sm">
        <div class="col" style="max-width: 180px">
          <q-input v-model="desde" filled label="Desde Fecha">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDesdeProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="desde" mask="DD/MM/YYYY" @input="() => $refs.qDesdeProxy.hide()" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="col" style="max-width: 180px">
          <q-input v-model="hasta" filled label="Hasta Fecha">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qHastaProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="hasta" mask="DD/MM/YYYY" @input="() => $refs.qHastaProxy.hide()" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="row q-col-gutter-sm justify-center q-ml-auto">
          <!-- <div class="col" style="width: 150px">
            <q-btn color="primary" @click="traeRetenciones">Trae Retenciones</q-btn>
          </div> -->
          <div class="col" style="width: 150px">
            <q-btn v-if="retenciones.length>0" color="white" text-color="primary" @click="traeArchivo">Generar Archivo</q-btn>
          </div>
        </div>
      </div>

    </div>
    <q-separator class="q-mt-md" />
    <q-markup-table class="q-mt-md">
      <thead>
        <tr>
          <th class="text-left">Proveedor</th>
          <th class="text-left">Cuit</th>
          <th class="text-right">Alicuota</th>
          <th class="text-right">Fecha</th>
          <th class="text-right">Total</th>
          <th class="text-right">Retencion</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="r in retenciones" :key="r.id">
          <td class="text-left">{{ r.proveedor }}</td>
          <td class="text-left">{{ r.cuit }}</td>
          <td class="text-right">{{ r.alicuota }}</td>
          <td class="text-right">{{ r.fecha }}</td>
          <td class="text-right">{{ r.total }}</td>
          <td class="text-right">{{ r.retencion }}</td>
        </tr>
      </tbody>
    </q-markup-table>
  </q-page>
</template>

<script>
import { getRetenciones, traeArchivo as trae } from '../services/retencion'
import dayjs from '../dayjs'
import { ref, watch } from '@vue/composition-api'
export default {
  setup (_, { root }) {
    const retenciones = ref([])
    const desde = ref(dayjs(new Date()).format('DD/MM/YYYY'))
    const hasta = ref(dayjs(new Date()).format('DD/MM/YYYY'))
    const traeRetenciones = async () => {
      retenciones.value = await getRetenciones(dayjs(desde.value, 'DD/MM/YYYY').format('YYYY/MM/DD'), dayjs(hasta.value, 'DD/MM/YYYY').format('YYYY/MM/DD'))
    }
    const traeArchivo = async () => {
      // try {
      const url = await trae(dayjs(desde.value, 'DD/MM/YYYY').format('YYYY/MM/DD'), dayjs(hasta.value, 'DD/MM/YYYY').format('YYYY/MM/DD'))
      console.log('url', url)
      url && window.open(url, '_blank')
      // } catch (error) {
      //   console.dir(error)
      //   root.$q.notify({ message: error.response.data, color: 'red' })
      // }
    }
    watch([desde, hasta], traeRetenciones, { lazy: false })
    return { retenciones, desde, hasta, traeRetenciones, traeArchivo }
  }
}
</script>

<style>

</style>
