<template>
  <q-dialog v-model="dialog">
    <q-card class="my-card">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Se está por terminar la sessión</div>
      </q-card-section>
      <q-card-section>
        <div class="q-pa-lg text-subtitle1">
          <p>
            La sesión va a expirar en {{ seconds }} segundos
          </p>
          <p>
            Presione el botón de continuar o
            deberá volver a ingresar
          </p>
        </div>
        <q-separator />
        <q-card-actions horizontal align="right">
          <q-btn flat :label="`Salir`" @click="salir" />
          <q-btn flat label="Continuar" @click="continuar" />
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
/* eslint-disable no-unreachable */
import { ref, watch } from '@vue/composition-api'
import store from '../store'
export default {
  setup (props, { root }) {
    const seconds = ref(0)
    console.log('timeoutdlg')
    const dialog = ref(false)
    const continuar = async () => {
      try {
        await store.dispatch('session/refreshToken')
      } catch (error) {
        console.log('error on refreshtoken in timeOutDlg', error.message)
      }
      dialog.value = undefined
    }
    const salir = () => {
      store.dispatch('session/logout')
      dialog.value = undefined
    }
    watch(() => [
      store.getters['session/expiration'],
      store.getters['session/loggedIn']
    ], ([_seconds, loggedIn]) => {
      // return
      // console.log('[_seconds, loggedIn]', [_seconds, loggedIn])
      if (!loggedIn || typeof _seconds !== 'number') {
        dialog.value = undefined
        return
      }
      seconds.value = _seconds
      dialog.value = (_seconds < 60 && _seconds >= 0)
    })
    return { dialog, seconds, continuar, salir }
  }
}
</script>
