<template>
  <div id="q-app">
    <router-view />
    <time-out-dlg />
  </div>
</template>

<script>
// import { soloEnDevMode } from 'src/helpers'
import { onBeforeMount } from '@vue/composition-api'
import TimeOutDlg from './components/TimeOutDlg'
// import Vue from 'vue'
// import store from 'src/store'

export default {
  name: 'App',
  components: { TimeOutDlg },
  setup (props, { root }) {
    onBeforeMount(() => {
      console.log('Begin Session Dispatch in App')
      root.$store.dispatch('session/initSession')
      // const user = root.$store.state.session.user
      // const route = root.$route.path
      // if (!user && route !== '/login') root.$router.push('/login')
    })
  }
}
</script>
